body
{
	margin: 0;
	padding: 0;
	background: #262626;
	font-family: arial;
	font-family: arial;

}
.loader
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.loader h1
{
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 10em;
	color:  transparent;
	opacity: 0.1;
	background-image:url("http://viktor-cegan.wz.cz/ryba2.png") ;
	background-repeat: repeat-x;
	-webkit-background-clip:text;
	animation :animate 15s linear 1;
	opacity: 1;

		background-position: left 0px top -200px;
}
@keyframes animate 
{
	
	0%
	{
		background-position: left 0px top 100px;
	}
	25%
	{
		background-position: left 1000px top -50px;
	}
	50%
	{
		background-position: left 2000px top -100px;
	}
	75%
	{
		background-position: left 3000px top -150px;
	}
	100%
	{
		background-position: left 4000px top -250px;
	}
}
<<<<<<< HEAD
.top
{

    width:0px;
    height:0px;
    border-left:20px solid transparent;
    border-right:20px solid transparent;
    border-top:20px solid #fff;
    position: absolute;
    right: 50%;
    top: 90%;
    animation: 1s abc infinite;
}

@keyframes abc
{
	0%
	{
    top: 90%;	
	}
	25%
	{
	top: 93%;
	}
	100%
	{
	top: 90%;
	}
}
.b
{
position: absolute;
right: 50%;
top: 85%;
font-size: 25px;
color: transparent;
transition: 1s;
}
.c
{
margin-top: 1000px;
font-size: 35px;
margin-bottom: 200px;
}
=======
>>>>>>> 19877e331f27f4051a0bbc857f4a655ccef52865
